<div>
  <h1>Welcome to {{ title }}!</h1>
</div>
@for (task of tasks; track $index) {
<div>
  {{task}} -{{$index}}
  <div>
    <button (click)="deleteTask(task)">Eliminar</button>
    <button (click)="index=$index; editingTask=task">editar</button>
  </div>
</div>

}

<form (submit)="addTask()">
  <input type="text" name="tarea" id="" placeholder="nueva tarea" [(ngModel)]="newTask">
  <button type="submit">agregar tarea</button>
</form>

<form (submit)="editTask()">
  <input type="text" name="tarea" id="" placeholder="nueva tarea" [(ngModel)]="editingTask">
  <button type="submit">editar tarea</button>
</form>